In [67]:
import os
import pandas as pd
import numpy as np

In [8]:
customerInfo = r"../../RobotDelivery_SA/Project2/dataset/customers.csv"
baseInfo = r"../../RobotDelivery_SA/Project2/dataset/bases.csv"

In [5]:
dataFolder = r"../../RobotDelivery_SA/Project2/dataset/data/TractSeperate/1_depot"

['131', '143', '247', '248', '249', '261', '263']

In [9]:
customerInfoDf = pd.read_csv(customerInfo)

In [11]:
customerInfoDf = customerInfoDf[["CID", "Lat", "Lon", "X", "Y"]]

In [13]:
customerInfoDf.head()

    CID        Lat        Lon        X        Y
0  1899  30.323500 -97.734497  1717430  7358140
1  1900  30.323900 -97.735397  1717340  7358190
2  1901  30.324400 -97.736504  1717240  7358240
3  1997  30.342600 -97.747398  1716150  7360240
4  2641  30.346001 -97.744904  1716390  7360620

In [41]:
print(os.listdir(dataFolder))

['131', '143', '247', '248', '249', '261', '263']

In [48]:
tID = "263"
t1 = os.path.join(dataFolder, tID, "demand.csv")
savePth = os.path.join(dataFolder, tID, "customerInfo.csv")

t1Df = pd.read_csv(t1)
t1Df = t1Df.drop("Unnamed: 0", axis=1)
CIDLst = t1Df["CID"].values.tolist()
Lat = []
Lon = []
X = []
Y = []
for CID in CIDLst:
    data = customerInfoDf[customerInfoDf["CID"] == CID]
    Lat.append(data["Lat"].values[0])
    Lon.append(data["Lon"].values[0])
    X.append(data["X"].values[0])
    Y.append(data["Y"].values[0])
    
t1Df["Lat"] = Lat
t1Df["Lon"] = Lon
t1Df["X"] = X
t1Df["Y"] = Y
t1Df.to_csv(savePth, index=False)

In [49]:
baseDf = pd.read_csv(baseInfo)

In [50]:
baseDf.head()

   FID  OBJECTID    BID        Lat        Lon        X        Y
0    0     23966  23966  30.336500 -97.754700  1715460  7359540
1    1     24053  24053  30.336100 -97.754204  1715520  7359500
2    2     24120  24120  30.335600 -97.753700  1715560  7359440
3    3     24132  24132  30.335501 -97.753700  1715560  7359440
4    4     24133  24133  30.337299 -97.753700  1715560  7359630

In [58]:
# ['131', '143', '247', '248', '249', '261', '263']
tID = "263"
t1 = os.path.join(dataFolder, tID, "baseDic.csv")
savePth = os.path.join(dataFolder, tID, "baseInfo.csv")

t1Df = pd.read_csv(t1)
t1Df = t1Df.drop("Unnamed: 0", axis=1)
CIDLst = t1Df["BID"].values.tolist()
Lat = []
Lon = []
X = []
Y = []
for CID in CIDLst:
    data = baseDf[baseDf["BID"] == CID]
    Lat.append(data["Lat"].values[0])
    Lon.append(data["Lon"].values[0])
    X.append(data["X"].values[0])
    Y.append(data["Y"].values[0])
    
t1Df["Lat"] = Lat
t1Df["Lon"] = Lon
t1Df["X"] = X
t1Df["Y"] = Y
t1Df.to_csv(savePth, index=False)

In [51]:
tID = "263"
t1 = os.path.join(dataFolder, tID, "baseDic.csv")
savePth = os.path.join(dataFolder, tID, "baseInfo.csv")

t1Df = pd.read_csv(t1)
t1Df = t1Df.drop("Unnamed: 0", axis=1)
t1Df.head()

     BID
0  26628
1  26659
2  26735
3  26743
4  26750

In [120]:
TractLstAll = ['131', '143', '247', '248', '249', '261', '263']
for TractID in TractLstAll:
    # TractID = "263"
    TractFolderOrigin = r"C:\\Users\bigti\\research\\RobotDelivery_SA\\Project2\dataset\selectedTract\\"
    TractFolderOrigin = os.path.join(TractFolderOrigin, TractID)

    allBase = os.path.join(r"../../RobotDelivery_SA/Project2/dataset/data/TractSeperate/", TractID)
    allBaseDf = pd.read_csv(os.path.join(allBase, "baseInfo.csv"))
    originBCMPth = os.path.join(allBase, "bcM.npy")
    bcM_np = np.load(originBCMPth)

    for i in range(1, 6):
        newdataFolder = os.path.join(r"../../RobotDelivery_SA/Project2/dataset/data/TractSeperate/", TractID, str(i)+"_depot")

        newBaseInfoPth = os.path.join(newdataFolder, "baseInfo.csv")
        bcMPth = os.path.join(newdataFolder, "bcM.csv")

        baseNum = os.path.join(TractFolderOrigin, "Base_" + str(i) + "_2.csv")
        baseDf = pd.read_csv(baseNum)
        baseIndexLst = baseDf.values[0][-1*i:]

        newBaseInfoLst = []
        newBCMLst = []
        TractLst = []
        for baseIndex in baseIndexLst:
            newBaseInfoLst.append(allBaseDf.iloc[int(baseIndex)-1])
            newBCMLst.append(bcM_np[int(baseIndex)-1])
            TractLst.append(TractID)
        newBaseInfoLstDf = pd.DataFrame(newBaseInfoLst)
        newBaseInfoLstDf["TractID"] = TractLst
        newBCMLstDf = pd.DataFrame(newBCMLst)

        newBaseInfoLstDf.to_csv(newBaseInfoPth, index=False)
        # newBCMLstDf.to_csv(bcMPth, index=False)

In [83]:
l = [allBaseDf.iloc[0], allBaseDf.iloc[1], allBaseDf.iloc[2]]

In [85]:
l = pd.DataFrame(l)

In [86]:
l

       BID        Lat        Lon          X          Y
0  25859.0  30.359699 -97.743797  1716460.0  7362140.0
1  25985.0  30.361601 -97.742996  1716530.0  7362360.0
2  26373.0  30.361000 -97.740898  1716730.0  7362280.0

In [88]:
allBaseDf.iloc[0]

BID    2.585900e+04
Lat    3.035970e+01
Lon   -9.774380e+01
X      1.716460e+06
Y      7.362140e+06
Name: 0, dtype: float64

In [96]:
bbMAllPth = r"../../RobotDelivery_SA/Project2/dataset/bbM_All.csv"
bbMAllDf = pd.read_csv(bbMAllPth)

In [109]:
FromID = bbMAllDf["OriginID"]-1
FromID = FromID.values
ToID = bbMAllDf["DestinationID"]-1
ToID = ToID.values
Length = bbMAllDf["Total_Length"].values

In [151]:
DicPth = r"../../RobotDelivery_SA/Project2/dataset/baseDicAllNew.csv"
DicDf = pd.read_csv(DicPth)
BIDLst = DicDf["BID"].values

In [158]:
DicDf

    FID  OBJECTID    BID        Lat        Lon        X        Y  NewBID
0     0     24966  24966  30.339600 -97.748398  1716060  7359900       0
1     1     25029  25029  30.350700 -97.748001  1716070  7361130       1
2     2     25223  25223  30.339300 -97.746902  1716200  7359870       2
3     3     25453  25453  30.348200 -97.745796  1716290  7360860       3
4     4     25494  25494  30.346600 -97.745598  1716320  7360680       4
..  ...       ...    ...        ...        ...      ...      ...     ...
66   66     29470  29470  30.365499 -97.721199  1718610  7362830      66
67   67     29808  29808  30.358801 -97.718597  1718880  7362090      67
68   68     29865  29865  30.343500 -97.718201  1718950  7360390      68
69   69     29895  29895  30.355499 -97.718002  1718940  7361730      69
70   70     29970  29970  30.351801 -97.717400  1719010  7361320      70

[71 rows x 8 columns]

In [155]:
BIDLst.tolist().index(27308)

33

In [156]:
BIDLst

array([24966, 25029, 25223, 25453, 25494, 25664, 25710, 25793, 25796,
       25822, 25824, 25911, 26065, 26128, 26131, 26294, 26351, 26359,
       26385, 26456, 26868, 26932, 27015, 27039, 27055, 27057, 27130,
       27178, 27190, 27208, 27250, 27261, 27263, 27308, 27366, 27405,
       27471, 27479, 27520, 27527, 27634, 27643, 27678, 27745, 27771,
       27843, 27897, 28088, 28103, 28265, 28271, 28280, 28411, 28489,
       28545, 28639, 28783, 28808, 28821, 28865, 28972, 29020, 29095,
       29163, 29259, 29427, 29470, 29808, 29865, 29895, 29970],
      dtype=int64)

In [127]:
bbMAllDf[["OriginID", "DestinationID"]]

      OriginID  DestinationID
0            1              1
1            1              3
2            1              5
3            1              7
4            1              4
...        ...            ...
5036        71              9
5037        71             18
5038        71             17
5039        71             13
5040        71             12

[5041 rows x 2 columns]

In [135]:
allBBM = np.zeros((71, 71))
for i in range(71):
    for j in range(71):
        data = bbMAllDf[bbMAllDf["OriginID"]==i+1]
        data = data[data["DestinationID"] == j+1]
        data = data["Total_Length"].values[0]
        allBBM[i][j] = data

In [137]:
allBBMDf = pd.DataFrame(allBBM)

In [139]:
allBBMDf.to_csv(r"../../RobotDelivery_SA/Project2/dataset/bbmNbyNMatrix.csv")

In [159]:
DicPth = r"../../RobotDelivery_SA/Project2/dataset/baseDicAllNew.csv"
DicDf = pd.read_csv(DicPth)
BIDLst = DicDf["BID"].values
BIDLst = BIDLst.tolist()

TractLstAll = ['131', '143', '247', '248', '249', '261', '263']
for i in range(1, 6):
    newDic = os.path.join(r"C:\\Users\bigti\\research\\RobotDelivery_SA\\Project2\dataset\\data\\TractSeperate\\", str(i)+"_depot_all_info.csv")
    newBBM = os.path.join(r"C:\\Users\bigti\\research\\RobotDelivery_SA\\Project2\dataset\\data\\TractSeperate\\", str(i)+"_depot_DDM.csv")
    baseLst = []
    for TractID in TractLstAll:
        # TractID = "263"
        TractFolderOrigin = r"C:\\Users\bigti\\research\\RobotDelivery_SA\\Project2\dataset\\data\\TractSeperate\\"
        TractFolderOrigin = os.path.join(TractFolderOrigin, TractID)
        baseInfo = os.path.join(TractFolderOrigin, str(i)+"_depot", "baseInfo.csv")
        baseInfo = pd.read_csv(baseInfo)
        baseLst.append(baseInfo)
    newdf = pd.concat(baseLst, axis=0)
    newdf.to_csv(newDic, index=False)
    newBIDLst = newdf["BID"].values.tolist()
    shape = len(newBIDLst)
    newArray = np.zeros((shape, shape))
    newIdxLst = []
    for BID in newBIDLst:
        newIdxLst.append(BIDLst.index(BID))
    ii = 0
    for Idxi in newIdxLst:
        jj = 0
        for IdxJ in newIdxLst:
            data = allBBM[Idxi][IdxJ]
            newArray[ii][jj] = data
            jj+=1
        ii += 1
    bbmdf = pd.DataFrame(newArray)
    bbmdf.to_csv(newBBM, index=False)

In [161]:
TractLstAll = ['131', '143', '247', '248', '249', '261', '263']
datafolder = r"../../RobotDelivery_SA/Project2/dataset/data/TractSeperate/"
for tract in TractLstAll:
    filePth = os.path.join(datafolder, tract, "ccM.npy")
    newfile = os.path.join(datafolder, tract, "ccM.csv")
    data = np.load(filePth)
    df = pd.DataFrame(data)
    df.to_csv(newfile, index=False)